<div class="card" [@animate]="'fadeIn'"> 
    <div class="card-block">
        <div class="card-header">
            {{goal.title}}
        </div>
        <div class="card-text">
            {{goal.description}}
            <div class="label-tag">
                <span class="label label-light-blue" *ngFor="let tag of goal.tags" [class.label-info]="tag === selectedTag">
                    {{ getTagName(tag) | uppercase }}
                </span>
            </div>
        </div>
    </div>
</div>