<clr-modal [(clrModalOpen)]="open">
    <h3 class="modal-title">Add/ edit goal</h3>
    <div class="modal-body">
        

    <form #goalForm="ngForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
        <section class="form-block">
            <div class="form-group">
                <label for="title">Ttitle</label>
                <input type="text" id="title" name="title" [(ngModel)]="goal.title" placeholder="Enter goal title" size="45">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" [(ngModel)]="goal.description" rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
                <button type="button" class="btn btn-primary" type="submit" (click)="open = false">Save</button>
            </div>
        </section>
    </form>
    </div>
</clr-modal>

