<div class="row flex-items-xs-left" *ngFor="let goals of goalRows; let idx = index">
   <div *ngFor="let goal of goals; let idx2 = index" class="col-xs"> 

    <div class="card" *ngIf="idx + idx2 == 0" [@animate]="'fadeIn'" (click)="newGoalClicked()"> 
          <div class="card-block">
            <div class="card-text">
              <clr-icon shape="plus-circle" class="is-solid big-icon"></clr-icon>
            </div>
          </div>
        </div>
        <app-goal-card (click)="clickGoal(goal)" [selectedTag]="selectedTag" [goal]="goal" *ngIf="idx + idx2 != 0" [@animate]="'fadeIn'"></app-goal-card> 
   </div> 
</div>

<app-goal-form></app-goal-form>