<div class="main-container">
    <div class="alert alert-app-level" [hidden]="!alertPresent">
    </div>
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Frame day</span>
            </a>
        </div>
        <div class="header-nav">
            <a href="javascript://" class="nav-link nav-text">Calendar</a>
            <a href="javascript://" class="active nav-link nav-text">Plan</a>
            <a href="javascript://" class="nav-link nav-text">Report</a>
        </div>
        <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>

    <div class="content-container">
        <div class="content-area">
            <app-goals></app-goals>
        </div>
        <nav class="sidenav">
            <app-user-tags></app-user-tags>
        </nav>
    </div>
</div>

