<div class="margin-content">
  <h2>Your goals</h2>
  <br/> 
  <div *ngFor="let count of tagsCount; let idx = index">
    <span class="label clickable label-light-blue" #tag (click)="tagClick(idx)" [class.label-info]="idx == tagSelected">
      {{ getTagName(idx) | uppercase }} 
      <span class="badge badge-light-blue">{{ count }}</span>
    </span>
  </div>

  <br/><br/><br/>
  <hr/>
  
  <h2>Month progress</h2>
  <div *ngFor="let count of tagsCount; let idx = index">
    <span class="label label-light-blue">
      {{ getTagName(idx) | uppercase }} 
    </span>
    <div class="progress-block">
      <div class="progress-static">
        <div class="progress-meter" [attr.data-value]="20 * idx"></div>
      </div>
      <span>{{ idx }}/5</span>
    </div>
  </div>
</div>