.margin-content {
    padding: 10px;
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    width: 80%;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.progress-static{
    width: 80%;
    margin-bottom : 15px;
    margin-top : 4px;
    margin-right: 5px; 
}

.progress-static > .progress-meter::before {
    color: #49AFD9; /* old IE */
    background-color: #49AFD9;   /* Modern Browsers */
}

.label {
    margin: 3px;
}