.row {
    height: 250px;
    margin-bottom: 25px;
}

.card {
    width : 250px !important;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center; 
}

.card:hover {
    background: #eee;
}

.big-icon {
    width: 60px;
    height: 60px;
    color:  #49AFD9;
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.clickable:hover {
    cursor: pointer;
}